@charset "UTF-8";
@font-face {
    font-family: 'Cinzel';
    src: url(../Cinzel/Cinzel-Regular.ttf) ;
}
:root {
    --cor01: #232325;
    --cor02: #CFCAD0;
    --cor03: #7B858F;
    --cor04: #daa520;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Cinzel", serifa;
}

/*                         header                                       */

header {
    display: flex;
    height: 70px;
    padding: 10px;
    background-color: #232325f6;
    position: sticky;
    top: 0;
}
#logo {
    background-image: url(../imagens/logo.png);
    background-size: cover;
    background-position: center center;
    flex: 0 1 50px;
    height: 50px;
}
nav {
    display: flex;
    flex:  1 1 calc(100vw - 60px);
    align-items: center;
    justify-content: flex-end;
}
nav a {
    font-weight: 600;
    text-decoration: none;
    color: var(--cor04);
    padding: 10px;
}
nav a:hover {
    background-color: #f0b41b57;
    border-radius: 15px;
    color: white;
    text-shadow: 1px 1px 2px #00000096;
}
/*                           main                        */
p {
    text-indent: 20px;
}
main p {
    text-align: justify;
    padding: 40px;
    line-height: 1.4em;
}
main h1 {
    text-align: center;
    padding-top: 40px;
}

section.imagem {
    background-color: #323232;
    box-shadow: inset 6px 6px 13px #00000060;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

section#i1 {
    background-image: url(../imagens/fundo02.jpg);
    background-position: center center;
}
#i2 {
    background-image: url(../imagens/fundo04.png);
    background-size: cover;
    background-position: center center;
    height: 60vh;
}

footer {
    margin-top: 40px;
    background-color: var(--cor01);
    color: white;
    font-size: .5em;
    padding: 20px;
}
footer h1 {
    text-align: center;
}

